<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=meta.title%></title>
    <script type="text/javascript" src="swf.js"></script>
    <style type="text/css">
        html, body, #container {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
    </style>
</head>
<body>
    <div id="container"></div>
    <script type="text/javascript">
        new Swf(
            document.getElementById('container'),
            '<%=meta.filename%>.swf',
        );
    </script>
</body>
</html>